.navbar-brand img{
    border-radius: 50%;
    object-fit: cover;
}
.carousel-item img{
    height: 1000px;
    width: 100%;
   object-fit: cover;
   object-position: center;}
   .container{
    margin-top: 20px;
   }

.minister-heading h3{
    padding-left: 100px;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

  .card img {
    width: 100%;
    height: 200px;          
    object-fit: cover;
    object-position: center top; 
}
  .card{
    margin: 10px;
    transition: 1s;
  }
  .card:hover{
  transform: translateY(-10px);
  }